/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

/* Styles */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 1em;
  line-height: 133%;
}
small { font-size: .66em; }
pre, code, .monospace {
  font-family: "Inconsolata", monospace;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 133%;
  text-align: left;
}
h1 { font-size: 2em;}
h2 { font-size: 1.6em;}

p { line-height: 166%; }

[property="element"]  {
    display: flex;
    width: 100%;
    padding: 2em 0;
    flex-wrap: wrap;
    border-top: 1px solid gray;
}
[property="element"] > * {
    flex: 1 0 0;
}

.desc__wrapper {
  flex: 1 0 70%;
  padding: 0 15% 3em;
}

.preview__wrapper {
    border:  1px solid #999;
    position: relative;
}
.preview__wrapper::before {
  background: white;
  border: 1px solid #999;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  bottom: calc(100%);
  content: "rendered element";
  font-size: .66rem;
  left: -1px;
  padding: .3em .5em;
  position: absolute;
}
.preview__wrapper iframe {
    width: 100%;
    display: block;
    min-height: 50px;
}
html.iframe__content {
  padding: 1em;
  /* height: 100%; */
}
body.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100%; */
}
.code__input__wrapper {
  background: #222;
  color: #eee;
  padding: 1em;
  margin:  0 1em;
  position: relative;
}
.code__input__wrapper::before {
  background: #222;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  bottom: calc(100%);
  color: #eee;
  content: "HTML code";
  font-size: .66rem;
  left: 0;
  padding: .3em .5em;
  position: absolute;
}


[mv-mode="edit"] .preview__wrapper {
  background-color: #f6F6F6;
}
[mv-mode="edit"] iframe {
  /* display:none; */
  opacity: .5;
}